{{ define "main" }}
<section class="section hero m-0 p-0">
  <div class="container">
    <div class="columns">
      <div class="column is-full">
        <div class="playarea mb-0 ml-0 mr-0 p-0">
          <img src="/img/logo.png" id="logo" />
          <img src="/img/boombox.png" id="playbutton" onclick="document.getElementById('audioPlayer').play();" />
          <audio id="audioPlayer" controls controlsList="nodownload noplaybackrate">
              <source id="audioSource" src="" type="audio/mpeg">
              Your browser does not support the audio element.
          </audio>
          <p class="has-text-centered"><a id="btnRefresh" class="is-size-7 has-text-white">RELOAD FOR A NEW TRACK</a></p>
        </div>
      </div>
  </div>
</section>
<script>
// Function to generate a random track
function getRandomNumber() {
    return Math.floor(Math.random() * 4) + 1;
}
// Function to update the audio source with a random number
function updateAudioSource() {
    var randomNumber = getRandomNumber();
    var audioElement = document.getElementById('audioPlayer');
    var audioSourceElement = document.getElementById('audioSource');
    audioSourceElement.src = '/audio/' + randomNumber + '.mp3';
    audioElement.load(); // Reload the audio element to apply the new source
}
// Call the updateAudioSource function when the page loads
window.onload = function() {
    updateAudioSource();
};
// Reload button
const refreshBtn = document.getElementById("btnRefresh");

function handleClick() {
  window.location.reload();
}

refreshBtn.addEventListener("click", handleClick);
</script>
{{ end }}