// RESET X OVERFLOW
html, body {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
}

// The UI
.hero {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;    
  //min-height: 710px;
  min-height: 100vh;
  color: $white;
  .playarea {
    margin-top: 5vh;
    max-width: 35vw;
    max-height: 100vh;
    animation: fadeIn 1s;
    @include breakpoint(sm) {
      margin-top: 50px;
      max-width: 90vw;
    }
    @include breakpoint(md) {
      margin-top: 10px;
      max-width: 45vw;
    }
  }
  #logo {
    width: auto;
    margin-top: 20px;
  }
  #playbutton {
    width: auto;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  #audioPlayer {
    margin-top: -55px;
  }
  audio {
    width: 100%;
  }
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
      display: none;
  }
}
a#btnRefresh span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -2px;
}
a#btnRefresh:hover {
  text-decoration: underline;
}
// HR
hr {
  background-color: $bordercolor;
  height: 1px;
}
