// RESET X OVERFLOW
html, body {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
}

// The UI
.hero {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;    
  //min-height: 710px;
  min-height: 100vh;
  color: $white;
  .playarea {
    margin-top: 5vh;
    max-width: 35vw;
    max-height: 100vh;
    animation: fadeIn 1s;
    @include breakpoint(sm) {
      margin-top: 50px;
      max-width: 90vw;
      margin-bottom: 50px;
    }
    @include breakpoint(md) {
      margin-top: 10px;
      max-width: 45vw;
    }
  }
  #logo {
    width: auto;
    margin-top: 20px;
  }
  #playbutton {
    width: auto;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  #audioPlayer {
    margin-top: -55px;
  }
  audio {
    width: 100%;
  }
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
      display: none;
  }
}
a#btnRefresh {
  color: rgba(255,255,255,.25);
  transition: all 0.3s ease-out;
}
a#btnRefresh span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -2px;
}
a#btnRefresh:hover {
  color: rgba(255,115,255,1);
}
footer {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.2);
  width: 100%;
  font-size: 12px;
  color: #bbb !important;
  a {
    color: #bbb !important;
    text-decoration: underline;  
    transition: all 0.3s ease-out;
    &:hover {
      color: rgba(255,115,255,1) !important;
    }
  }
  @include breakpoint(sm) {
    position: relative;
    font-size: 11px;
  }
}
// HR
hr {
  background-color: $bordercolor;
  height: 1px;
}
